[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule "typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
